<div class="sbit-card sbit-container sbit-margin-bottom sbit-round-xlarge sbit-white sbit-col l12 m12 s12 sbit-margin-right">
    <h3 class="sbit-center">Add a task</h3>
    <input id="todoInput" class="sbit-input sbit-border sbit-round-xxlarge sbit-half sbit-animate-input sbit-margin-bottom" placeholder="Enter a task..." />
    <button onclick="addTodo()" class="sbit-btn sbit-block sbit-col l5 m5 s12 sbit-theme-d3 sbit-right sbit-round-xxlarge sbit-margin-bottom sbit-hover-opacity"><i class="fa fa-plus"></i> Add</button>
</div>